* {
  margin: 0px;
  padding: 0px;
}

/* header section start */

.header {
  width: 1920px;
  height: 850px;
  background: rgba(229, 84, 115, 0.1);
  /* background-color: rgb(115, 236, 236); */
  display: flex;
  align-items: center;
  /* margin: 50px 240px 0px 240px; */
}
.banner {
  margin: 197px 0px 0px 240px;
}
.banner-title {
  width: 708px;
  display: flex;
  flex-direction: column;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}

.banner-description {
  margin: 32px 0px;
  width: 634px;
  display: flex;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  margin-bottom: 147px;
}

.button-text {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-image {
  width: 635px;
  height: 800px;
  margin: 50px 240px 0px 0px;
}
/* banner section close */

/* flower section start */
.flower {
  width: 1440px;
  height: 900px;
  background: rgba(229, 84, 115, 0.05);
  /* background-color: burlywood; */
  margin: 128px 240px 0px 240px;
}
.flower-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* margin: 0px 764px 0px 384px; */
}

.flower-description {
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 663px 0px 383px;
}

.flower-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flower-image1 {
  background: url(../image/Rectangle\ 1.png) no-repeat center;
  background-size: cover;
  height: 538px;
  width: 464px;
  left: 0%;
  top: 5%;
  position: relative;
  margin-top: 25px;
}
.flower-image1 img {
  margin: 5px 0px 0px 0px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.flower-image2 {
  background: url(../image/Rectangle\ 2.png) no-repeat center;
  background-size: cover;
  height: 538px;
  width: 464px;
  left: 0%;
  top: 5%;
  position: relative;
  margin-top: 25px;
}
.flower-image2 img {
  margin: 5px 0px 0px 0px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.flower-image3 {
  background: url(../image/Rectangle\ 3.png) no-repeat center;
  background-size: cover;
  height: 538px;
  width: 464px;
  left: 0%;
  top: 5%;
  position: relative;
  margin-top: 25px;
}
.flower-image3 img {
  margin: 5px 0px 0px 0px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.caption1 {
  position: absolute;
  margin-left: 120px;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

.caption2 {
  position: absolute;
  margin-left: 620px;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

.caption3 {
  position: absolute;
  margin-left: 1100px;
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* flower section completed */
/* flower next section section */

.flower2 {
  width: 1440px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  /* background: #272727; */
  margin: 128px 240px 0px 240px;
}

.flower2-icon {
  padding: 86px 0px 0px 0px;
  width: 88px;
  height: 88px;
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flower2-icon {
  /* width: 88px;
    height: 88px; */
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flower2-image1 {
  position: relative;
  margin-left: 1420px;
}

.flower2-image2 {
  position: static;
  margin-left: 417px;
  /* margin: 0px 0px 0px 261px;  */
}

.flower2-image3 {
  position: relative;
  margin-left: 400px;

  /* margin: 0px 0px 0px 317px;  */
}

.flower2-caption {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  color: rgba(39, 39, 39, 0.8);
  /* color: white; */
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.flower2-caption1 {
  position: relative;
  margin-left: 90px;
}

.flower2-caption2 {
  position: relative;
  margin-left: 110px;
}

.flower2-caption3 {
  position: relative;
  margin-left: 220px;
}

/* hot deal section start */

.hot-deal {
  width: 1922px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.hot-deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  padding: 230px 0px 0px 423px;
}

.hot-deal-description {
  display: flex;
  width: 594px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0px 0px 395px;
}
.btn-text-deal {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 32px 0px 0px 601px;
}
.hot-deal-image {
  width: 318px;
  height: 420px;
  margin: 100px 429px 100px 0px;
}
/* hot deal section completed */

/* intagram section */
.instagram {
  width: 1440px;
  background-color: white;
  margin: 128px 240px 0px 240px;
}
.insta-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* padding: 0px 870px; */
}
.insta-description {
  width: 594px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 10px 663px 20px 433px;
}

.insta-image {
  /* margin: 0px 220px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.insta-image img {
  /* margin-right: 14px;
  margin-bottom: 5px; */
  width: 342px;
  height: 396px;
  flex-shrink: 0;
}

/* latest deal section */
.deals {
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background-image: url(../image/Rectangle\ 9.png);
  margin: 128px 240px 0px 240px;
}
.deals-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  padding: 122px 534px 0px 533px;
}
.deals-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.deals-parameter {
  /* margin: 24px 453px 121px 287px; */
  display: flex;
  flex-direction: row;
}
#input-text {
  border-radius: 8px;
  background: white;
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  margin: 24px 23px 121px 287px;
}
.btn-deals {
  margin: 24px 287px 121px 0px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

::placeholder {
  color: rgba(39, 39, 39, 0.6);
  text-align: left;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 23px;
}

/* deals completed */
/* footer section */
.footer {
  width: 1922px;
  height: 449px;
  background: #111010;
  margin-top: 128px;
}

.footer-title-one {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 128px 832px 0px 831px;
}
.footer-title-another {
  color: white;
}
.footer-description {
  display: flex;
  width: 625px;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 649px 0px 648px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 32px 783px 128px 784px;
}

/* footer end */
/*Back To Top Button*/
#myBtn {
    position: fixed;
    bottom: 5px;
    float: right;
    right: 18.5%;
    left: 95%;
    max-width: 60px;
    width: 100%;
    font-size: 30px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;
    text-align: center;

}
/*Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}