* {
  margin: 0px;
  padding: 0px;
}

/* header section  */

.header {
  width: 1920px;
  height: 850px;
  /* background: rgba(229, 84, 115, 0.1); */
  background-color: rgb(115, 236, 236);
  display: flex;
  align-items: center;
  /* margin: 50px 240px 0px 240px; */
}
.banner {
  margin: 197px 0px 0px 240px;
}
.banner-title {
  width: 708px;
  display: flex;
  flex-direction: column;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}

.banner-description {
  margin: 32px 0px;
  width: 634px;
  display: flex;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  margin-bottom: 147px;
}

.button-text {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-image {
  width: 635px;
  height: 800px;
  margin: 50px 240px 0px 0px;
}
/* banner section close */
/* hot deal section start */

.hot-deal {
  width: 1922px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
}

.hot-deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  padding: 230px 0px 0px 423px;
}

.hot-deal-description {
  display: flex;
  width: 594px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0px 0px 395px;
}
.btn-text-deal {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 32px 0px 0px 601px;
}
.hot-deal-image {
  width: 318px;
  height: 420px;
  margin: 100px 429px 100px 0px;
}
/* hot deal section completed */
/* footer section */
.footer {
  width: 1922px;
  height: 449px;
  background: #111010;
}
.footer-title {
}
.footer-title-one {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 128px 832px 0px 831px;
}
.footer-title-another {
  color: white;
}
.footer-description {
  display: flex;
  width: 625px;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 649px 0px 648px;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 32px 783px 128px 784px;
}

/* footer end */
